.dashboard-card {
  border: 1px solid #e2e8f0;
  background-color: #f7fafc;
  padding: 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.bg-coast {
  background-color: #4fb0c6; /* Replace with your desired coastal color */
}
.bg-maney {
  background-color: #4caf50; /* Replace with your desired money-like color */
}
.dashboard-card-success {
  background-color: #d1fae5;
}

.dashboard-card-warning {
  background-color: #fee2e2;
}

.dashboard-card-title {
  font-size: 0.875rem;
  font-weight: 500;
  color: #4a5568;
}

.dashboard-card-value {
  font-size: 1.5rem;
  font-weight: 600;
  color: #1a202c;
}